body {
  margin: 0;
}

#wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.led-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.time-part {
  display: -webkit-inline-flex;
  display: inline-flex;
}

.digit {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.led {
  box-sizing: border-box;
  background-color: black;
  border-color: transparent;
  border-style: solid;
  border-radius: 2147483647px;
  background-clip: content-box;
  transition: opacity 0.3s;
}

.led.led-0 {
  opacity: 0.2;
}